# ÏòÅÌôî Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Î¨∏Ï†ú
https://pandas.pydata.org/ ÏÇ¨Ïù¥Ìä∏Ïùò Îß§Îâ¥ÏñºÏùÑ Ï∞∏Ï°∞Ìï¥ÏÑú 
Í∞ïÏùò ÏãúÍ∞ÑÏóê Îã§Î£®ÏßÄ ÏïäÏïòÎçò pandas Ìå®ÌÇ§ÏßÄÏùò Îã§ÏñëÌïú Î©îÏÜåÎìú Ìï®ÏàòÎ•º Ï∞æÏïÑÏÑú ÏÇ¨Ïö©Î≤ïÏùÑ ÌååÏïÖÌï¥ÏÑú ÌíÄÏñ¥ Î≥¥Îäî Î¨∏Ï†úÏûÖÎãàÎã§.

ÏÑ§Î™Ö:
15Í∞úÏùò ÏòÅÌôî Îç∞Ïù¥ÌÑ∞Í∞Ä Ìè¨Ìï®Îêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ Ï£ºÏñ¥ÏßÑÎã§.

ÏòÅÌôîÏùò **Ï†úÎ™©, Ïû•Î•¥, Í∞úÎ¥â Ïó∞ÎèÑ, Í∞êÎèÖ, ÌèâÏ†ê, Í¥ÄÍ∞ù Ïàò(Îã®ÏúÑ: Î∞±ÎßåÎ™Ö), Ï†úÏûëÎπÑ(Îã®ÏúÑ: Î∞±Îßå Îã¨Îü¨)**Í∞Ä Ìè¨Ìï®ÎêúÎã§.

Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏóêÏÑú ÏßÅÏ†ë Ïù∏Îç±Ïã±Í≥º Ïä¨ÎùºÏù¥Ïã± Îì±ÏùÑ ÌôúÏö©ÌïòÏó¨ Î¨∏Ï†úÎ•º Ìï¥Í≤∞ÌïòÏÑ∏Ïöî.

In [22]:
import pandas as pd

data = {
    "Title": [
        "Inception", "Interstellar", "The Dark Knight", "Parasite", "Avengers: Endgame",
        "The Matrix", "Gladiator", "Titanic", "Joker", "Mad Max: Fury Road",
        "The Godfather", "Pulp Fiction", "Schindler's List", "The Shawshank Redemption", "Fight Club"
    ],
    "Genre": [
        "Sci-Fi", "Sci-Fi", "Action", "Drama", "Action",
        "Sci-Fi", "Historical", "Romance", "Drama", "Action",
        "Crime", "Crime", "Drama", "Drama", "Drama"
    ],
    "Year": [
        2010, 2014, 2008, 2019, 2019,
        1999, 2000, 1997, 2019, 2015,
        1972, 1994, 1993, 1994, 1999
    ],
    "Director": [
        "Christopher Nolan", "Christopher Nolan", "Christopher Nolan", "Bong Joon-ho", "Anthony Russo",
        "Lana Wachowski", "Ridley Scott", "James Cameron", "Todd Phillips", "George Miller",
        "Francis Ford Coppola", "Quentin Tarantino", "Steven Spielberg", "Frank Darabont", "David Fincher"
    ],
    "Rating": [
        8.8, 8.6, 9.0, 8.6, 8.4,
        8.7, 8.5, 7.8, 8.5, 8.1,
        9.2, 8.9, 8.9, 9.3, 8.8
    ],
    "Audience_Million": [
        100, 120, 150, 80, 200,
        90, 50, 220, 85, 75,
        110, 95, 85, 130, 70
    ],
    "Budget_Million": [
        160, 165, 185, 11, 356,
        63, 103, 200, 55, 150,
        6, 8, 22, 25, 63
    ]
}

df = pd.DataFrame(data)

In [23]:
df

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
3,Parasite,Drama,2019,Bong Joon-ho,8.6,80,11
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
5,The Matrix,Sci-Fi,1999,Lana Wachowski,8.7,90,63
6,Gladiator,Historical,2000,Ridley Scott,8.5,50,103
7,Titanic,Romance,1997,James Cameron,7.8,220,200
8,Joker,Drama,2019,Todd Phillips,8.5,85,55
9,Mad Max: Fury Road,Action,2015,George Miller,8.1,75,150
10,The Godfather,Crime,1972,Francis Ford Coppola,9.2,110,6
11,Pulp Fiction,Crime,1994,Quentin Tarantino,8.9,95,8
12,Schindler's List,Drama,1993,Steven Spielberg,8.9,85,22
13,The Shawshank Redemption,Drama,1994,Frank Darabont,9.3,130,25
14,Fight Club,Drama,1999,David Fincher,8.8,70,63

In [24]:
"""
1. ÌäπÏ†ï Ïû•Î•¥Ïùò ÏòÅÌôî Î™©Î°ù Ï∂úÎ†•
Ïû•Î•¥Í∞Ä "Action"Ïù∏ ÏòÅÌôîÎßå Ï∂úÎ†•ÌïòÏÑ∏Ïöî.
üìå ÌûåÌä∏: df["Genre"] == "Action"ÏùÑ ÌôúÏö©ÌïòÏó¨ ÌïÑÌÑ∞ÎßÅ."
"""
genre = df[df["Genre"] == "Action"]

genre

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
9,Mad Max: Fury Road,Action,2015,George Miller,8.1,75,150

In [25]:
"""
2. ÌäπÏ†ï Ïó∞ÎèÑ Ïù¥ÌõÑ Í∞úÎ¥âÌïú ÏòÅÌôî Î™©Î°ù
2010ÎÖÑ Ïù¥ÌõÑ Í∞úÎ¥âÌïú ÏòÅÌôîÎßå Ï∂úÎ†•ÌïòÏÑ∏Ïöî.
"""
df[df["Year"] >= 2010]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
3,Parasite,Drama,2019,Bong Joon-ho,8.6,80,11
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
8,Joker,Drama,2019,Todd Phillips,8.5,85,55
9,Mad Max: Fury Road,Action,2015,George Miller,8.1,75,150

In [26]:
"""
3. ÌèâÏ†êÏù¥ 9.0 Ïù¥ÏÉÅÏù∏ ÏòÅÌôî Ï∞æÍ∏∞
ÌèâÏ†êÏù¥ 9.0 Ïù¥ÏÉÅÏù∏ ÏòÅÌôîÎßå Ï∂úÎ†•ÌïòÏÑ∏Ïöî.
"""
df[df["Rating"]>=9.0]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
10,The Godfather,Crime,1972,Francis Ford Coppola,9.2,110,6
13,The Shawshank Redemption,Drama,1994,Frank Darabont,9.3,130,25

In [27]:
"""
4. ÌäπÏ†ï Í∞êÎèÖÏùò ÏòÅÌôî Î™©Î°ù Ï∂úÎ†•
"Christopher Nolan"Ïù¥ Í∞êÎèÖÌïú ÏòÅÌôîÎßå Ï∂úÎ†•ÌïòÏÑ∏Ïöî.
"""
df[df["Director"] == "Christopher Nolan" ]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185

In [28]:
"""
5. ÌäπÏ†ï ÏòàÏÇ∞ Î≤îÏúÑ ÎÇ¥Ïùò ÏòÅÌôî Ï∞æÍ∏∞
Ï†úÏûëÎπÑÍ∞Ä 50Î∞±Îßå ~ 200Î∞±Îßå ÏÇ¨Ïù¥Ïù∏ ÏòÅÌôîÎßå Ï∂úÎ†•ÌïòÏÑ∏Ïöî.
"""
df[(df["Budget_Million"] > 50) & (df["Budget_Million"] < 200)]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
5,The Matrix,Sci-Fi,1999,Lana Wachowski,8.7,90,63
6,Gladiator,Historical,2000,Ridley Scott,8.5,50,103
8,Joker,Drama,2019,Todd Phillips,8.5,85,55
9,Mad Max: Fury Road,Action,2015,George Miller,8.1,75,150
14,Fight Club,Drama,1999,David Fincher,8.8,70,63

In [29]:
"""
6. Ï†úÏûëÎπÑ 100Î∞±Îßå Ïù¥ÏÉÅÏù∏ ÏòÅÌôîÎßå ÌïÑÌÑ∞ÎßÅ
Ï†úÏûëÎπÑÍ∞Ä 100Î∞±Îßå Ïù¥ÏÉÅÏù∏ ÏòÅÌôî Î™©Î°ù Ï∂úÎ†•
"""
df[df["Budget_Million"]>=100]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
6,Gladiator,Historical,2000,Ridley Scott,8.5,50,103
7,Titanic,Romance,1997,James Cameron,7.8,220,200
9,Mad Max: Fury Road,Action,2015,George Miller,8.1,75,150

In [30]:
"""
7. Í¥ÄÍ∞ù ÏàòÍ∞Ä 100Î∞±Îßå Ïù¥ÏÉÅÏù∏ ÏòÅÌôîÎßå Ï∞æÍ∏∞
Í¥ÄÍ∞ù ÏàòÍ∞Ä 100Î∞±Îßå Ïù¥ÏÉÅÏù∏ ÏòÅÌôî Ï∂úÎ†•
"""

df[df["Audience_Million"]>=100]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
7,Titanic,Romance,1997,James Cameron,7.8,220,200
10,The Godfather,Crime,1972,Francis Ford Coppola,9.2,110,6
13,The Shawshank Redemption,Drama,1994,Frank Darabont,9.3,130,25

In [31]:
"""
8. Í∞ÄÏû• ÏµúÍ∑ºÏóê Í∞úÎ¥âÌïú ÏòÅÌôî Ï∞æÍ∏∞
Ïó∞ÎèÑÍ∞Ä Í∞ÄÏû• ÌÅ∞ Í∞íÏóê Ìï¥ÎãπÌïòÎäî ÏòÅÌôî Ï∞æÍ∏∞ (max() ÏÇ¨Ïö© Í∏àÏßÄ)
üìå ÌûåÌä∏: .iloc[]ÏùÑ ÌôúÏö©ÌïòÏó¨ Ï†ïÎ†¨ ÌõÑ ÎßàÏßÄÎßâ Ìñâ ÏÑ†ÌÉù.
"""
year = df.sort_values(by="Year", ascending=False)
max_year = year.iloc[0]["Year"]
max_year
df[df["Year"] == max_year]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
3,Parasite,Drama,2019,Bong Joon-ho,8.6,80,11
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356
8,Joker,Drama,2019,Todd Phillips,8.5,85,55

In [32]:
"""
9. Í∞ÄÏû• Ïò§ÎûòÎêú ÏòÅÌôî Ï∞æÍ∏∞
Ïó∞ÎèÑÍ∞Ä Í∞ÄÏû• ÏûëÏùÄ Í∞íÏóê Ìï¥ÎãπÌïòÎäî ÏòÅÌôî Ï∞æÍ∏∞ (min() ÏÇ¨Ïö© Í∏àÏßÄ)
"""
year = df.sort_values(by="Year", ascending=True)
min_year = year.iloc[0]["Year"]
min_year
df[df["Year"] == min_year]

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
10,The Godfather,Crime,1972,Francis Ford Coppola,9.2,110,6

In [33]:
"""
10. Ï≤´ 5Í∞úÏùò ÏòÅÌôîÎßå Ï∂úÎ†•
Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ï≤´ 5Í∞ú ÌñâÎßå Ï∂úÎ†•ÌïòÏÑ∏Ïöî.
üìå ÌûåÌä∏: df[:5] ÎòêÎäî df.head(5) ÏóÜÏù¥ Ìï¥Í≤∞.
"""
sliced = df.iloc[:5]
sliced

,Title,Genre,Year,Director,Rating,Audience_Million,Budget_Million
0,Inception,Sci-Fi,2010,Christopher Nolan,8.8,100,160
1,Interstellar,Sci-Fi,2014,Christopher Nolan,8.6,120,165
2,The Dark Knight,Action,2008,Christopher Nolan,9.0,150,185
3,Parasite,Drama,2019,Bong Joon-ho,8.6,80,11
4,Avengers: Endgame,Action,2019,Anthony Russo,8.4,200,356